<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="www.robotree.org">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".viewimg"></activity>
        <activity android:name=".Adminlogin" />
        <activity android:name=".viewprescription" />
        <activity android:name=".prescription" />
        <activity android:name=".viewstatusdoctor" />
        <activity android:name=".enterpatientid" />
        <activity android:name=".doctorlogin" />
        <activity android:name=".MainActivity" />
        <activity android:name=".viewpatientdata" />
        <activity android:name=".viewstatus" />
        <activity android:name=".dataupload" />
        <activity android:name=".adddoctor" />
        <activity android:name=".sensordata" />
        <activity android:name=".patientloging" />
        <activity
            android:name=".addpatient"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".signup" />
        <activity android:name=".admind" />
        <activity
            android:name=".start"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>